
    
    body{
      font-family: monospace;
    }
    
    header{
      text-align: center;
      margin: 1em;
    }
    
    /* code.js */
    #content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .item {
      width: 200px;
    }
    
    /* codeusingtable.js */
    table{
      margin: 0 uato;
    }
    
    td{
      padding: 6px;
    }