
    
    body{
      font-family: monospace;

    }
    
    header{
      text-align: center;
      margin: 1em;
    }

    h2 {
      font-size: large;
    }

    img {
      width: 150px;
      height: auto;
    }

    .entry {
      display: flex;
      flex-direction: column; 
      align-items: center;
      padding: 10px;
      margin: 10px;
      background-color: #f9f9f9;
      width: 150px;
    }

    .entry img {
      object-fit:cover;
     	object-position: center;
      width:150px;
      height:auto;
    }

    #entry-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      gap: 30px;
    }

    .collapse {
      width: 100%; /* Ensure collapse section takes full width of the entry */
      transition: height 0.35s ease; /* Smooth transition for collapse */
  }
    
    /* code.js */
    #content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .item {
      width: 200px;
    }
    
   
    
    td{
      padding: 6px;
    }